<%- include('../layouts/header.ejs') %>

    <div class="page-wrapper">

        <%- include('../layouts/navbar-2.ejs') %>

        <main class="main">

			 <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/login">Login</a></li>
                        <li class="breadcrumb-item active" aria-current="#">Forgot Password</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            
        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/urban/show.jpg')">
            <div class="container">
            	<div class="form-box">
            		<div class="form-tab">

                <ul class="nav nav-pills nav-fill" role="tablist">
					<li class="nav-item">
					    <a class="nav-link active " id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Forgot Password</a>
					</li>
				</ul>

                <form id="emailform" action="/forgotPass" method="post">

                	<span class="message" id="msg" hidden ><%= msg %></span>

                    <div class="form-group mt-5">

                        <label for="singin-email-2">Email *</label>
                        <input type="text" class="form-control" id="emaill" name="email">
                        <p class="error-message text-danger" id="email-error"></p>

                    </div><!-- End .form-group -->

                    <div class="form-footer justify-content-center ">

                    <button type="submit" class="btn btn-outline-primary-2"  id="submitBtn">
            
                        <span>SUBMIT</span>

                        <i class="icon-long-arrow-right"></i>
                                                            
                    </button>

                    </div>

                </form>

                    </div>
                </div>
            </div>
        </div>
        
        </main>

        <!-- Connect Footer -->
		<%- include('../layouts/footbar-2') %>
		<!-- Connect Footer -->
        	
        </div>

        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!--Connect Mobaile View-->
        <%- include('../layouts/mobileView.ejs') %>
		<!--Connect Mobaile View-->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>


    <script>

        const msg = document.getElementById('msg');

        if(msg.textContent == 'Invalid Email!!!'){

            Swal.fire({

                title:'Error',
                text:'Invalid Email!!!',
                icon:'error',
                confirmButtonText: 'OK',

            })

        }

        document.getElementById('emailform').addEventListener("submit",function(event){

            const email = document.getElementById('emaill').value
            const error = document.getElementById('email-error');
            var valid = true;

            error.textContent=""
            
            if(!email.endsWith("@gmail.com")){

                error.textContent="enter valid email with'@gmail.com'" 
                valid = false;
            }

            if (!valid) {

                event.preventDefault();

            }

        });

    </script>


<%- include('../layouts/footer') %>