<%- include('../layouts/header') %>

<div class="page-wrapper">

  <%- include('../layouts/navbar-2.ejs') %>


        <div class="login-area pt-20 pb-20">

				<div class="container">

					<div class="row d-flex justify-content-center ">

						<div class="col-lg-6">

							<div class="customer-login text-left">

								<img src="assets/images/urban/thanks.jpg"  alt="">

                                <div class="d-flex justify-content-center pb-5">

                                   <a href="/"><button class="btn btn-dark rounded-5">Shop</button></a>

                                </div>

							</div>	
							
								
						</div>				
					</div>
		     </div>
	    </div>

  
  <!-- Connect Footer -->
  <%- include('../layouts/footbar-2') %>
  <!-- Connect Footer -->

</div>

<button id="scroll-top" title="Back to Top">

  <i class="icon-arrow-up"></i>

</button>

<!--Connect Mobaile View-->
<%- include('../layouts/mobileView.ejs') %>
<!--Connect Mobaile View-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<%- include('../layouts/footer') %> 